* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
.main_page {
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1000;
}
.main_page img {
    width: 100%;
}

.want_job {
    position: absolute;
    top: 40px;
    right: 270px;
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0;
    margin: 0;
    transform: scale(1.0);
}
.uuu{
    position: absolute;
    top: 40px;
    right: 80px;
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0;
    margin: 0;
    transform: scale(1.0);

}

.activity {
    position: absolute;
    top:250px;
    left: 170px;
    transform: scale(1.4);
}

.get_demo {
    position: absolute;
    top: 320px;
    right: 130px;
    transform: scale(1.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get_demo .blank_rect {
    width: 570px;
    height: 320px;
    box-shadow: 0px 0px 10px #888;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
}

.get_demo .blank_rect:focus {
    outline: 1px solid #21829c;
    border-radius: 8px;
}
.afsheen {
    position: absolute;
    left:360px;
    width: 0%;  
    height: 0vh;
    top: 450px; 
    z-index: 1;

}

.verify_leads_new {
    position: absolute;
    left:170px ;
    width: 0%;  
    height: 0vh;
    top: 850px; 
    z-index: 1; 
}


.get_kyc_verified {
    position: absolute;
    left: 2%;
    transform: translateX(-100%) scale(1.4);
    top: 1400px;
}

.yaya {
    position: absolute;
    left:500px;
    width: 0%;  
    height: 0vh;
    top: 500px; 
    z-index: 1;
}

.hire_now {
    position: absolute;
    left: 2%;
    transform: translateX(-50%) scale(1.4);
    top: 2090px;
}

.hasini{
    position: absolute;
    left: 380px;
    /* transform: translateX(-100%) scale(1.4); */
    top: 2340px;

}

.sana{
    position: absolute;
    left: 500px;
    /* transform: translateX(-100%) scale(1.4); */
    top: 2550px;

}

.query {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    top: 2600px;
    width: 990px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.query .inp_div {
    margin: 20px;
}

.query .inp_div input {
    margin-left: 100px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #8888;
    outline: none;
    width: 650px;
    padding: 2px;
    font-size: 2em;
    /* transition: 0.4s; */
}
.query .inp_div input:focus {
    border-bottom: 4px dashed #21829c;
    transition: 0.8s;
}

.query .inp_div label {
    font-size: 25px;
    font-weight: 600;
    color: #21829c;
}

.send {
    position: absolute;
    left: 45%;
    transform: translateX(-50%) scale(1.2);
    top: 3000px;
}

.yyz{
    position: absolute;
    left:45%;
    /* transform: translateX(-100%) scale(1.4); */
    top: 3100px;
}
.zzy{
    position: absolute;
    left:10%;
    /* transform: translateX(-100%) scale(1.4); */
    top: 3100px;
}

.ppp{
    position: absolute;
    left:25%;
    /* transform: translateX(-100%) scale(1.4); */
    top: 2700px;
}


@media(max-width: 1800px) {
    .top_btn {
        transform: scale(1);
    }
    .activity {
        transform: scale(1);
    }
    .get_demo {
        transform: scale(1);
    }
    .verify_leads_new {
        transform: scale(1);
    }
    .get_kyc_verified {
        transform: scale(1);
    }
    .hire_now {
        transform: scale(1);
    }
    .send {
        transform: scale(1);
    }
}
